/* COMMON RULES */
/* COMMON RULES */
/* COMMON RULES */

* {
}


a, a:hover {
    text-decoration: none;
}

.btn-default {
    font-weight: bold;
    font-size: 120%;
    position: relative;
}

[class*=col-] {
    border: 1px solid red;

}

/* HEADER */
/* HEADER */
/* HEADER */

header #header-top {
    height: 40px;
}

header #header-bottom {
    height: 65px;
    padding-top: 10px;
}

header #header-bottom img {
    display: inline-block;
}

header #header-bottom nav {
    display: inline-block;
}

header #header-bottom .col-md-6 {
    padding-top: 12px;
}

header .container-fluid {
    border-bottom: 1px solid black;
    background-color: white;
}

header #header-top .col-md-offset-3 {
    position: relative;
    padding: 0;
}

header #header-top .btn {
    background-color: #00D7D2;
    border-color:  #00D7D2;
}

header #header-top .btn:hover {
    cursor: default;
    background-color: #00D7D2;
    border-color:  #00D7D2;
}

header #header-top #my-main-menu {
    margin-right: 18px;
}

header #header-top .col-md-4 span::after {
    content: '>';
}

header img:first-child {
    height: 40px;
}

header img:nth-child(2) {
    height: 30px;
}

header .header-bottom .btn {}

    /* JUMBO */
    /* JUMBO */
    /* JUMBO */



#my-jumbo a {
    color: white;
}

#my-jumbo {
    height: 800px;
    background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
}

#my-jumbo #hidden-jumbo {
    font-size: 220%;
    padding-top: 30px;
    color: white;
}

#my-jumbo #hidden-jumbo span:first-child {
    float: left;
}

#my-jumbo #hidden-jumbo a:hover {
    color: white;
}

#my-jumbo #hidden-jumbo span:last-child {
    float: right;
    opacity: 0.5;
}

#jumbo-text {
    margin-top: 215px;
}

#my-jumbo .jumbo-text {
    color: white;
}

#jumbo-text h1 {
    font-size: 480%;
    color: white;
}

#jumbo-text p {
    font-size: 200%;
    opacity: 0.9;
    color: white;
}

#my-jumbo .col-sm-offset-1 {
    background-color: white;
    color: black;
    margin-top: 135px;
}

#my-jumbo .form-title {
    color: black;
    padding: 27px 0 22px;
}

#my-jumbo .col-sm-offset-1 {
    border-radius: 5px;
}

#my-jumbo label {
    color: black;
}

#my-jumbo input {
    padding: 20px 15px;
    font-size: 120%;
}

#my-jumbo .col-sm-offset-1 .sign-up {
        max-width: 280px;
        margin: 0 auto;
        position: relative;
        margin-top: 20px;
        margin-bottom: 24px;
        display: inline-block;
}

#my-jumbo .sign-up::before {
    content: '';
    display: inline-block;
    max-width: 180%;
    position: absolute;
    border-top: 1px solid black;
    top: 11px;
    left: -170px;
}

#my-jumbo .sign-up::after {
    content: '';
    display: inline-block;
    max-width: 180%;
    position: absolute;
    border-top: 1px solid black;
    top: 11px;
    left: 100px;
}

#my-jumbo .btn-primary {
    padding: 4% 33%;
}

#my-jumbo .btn-default {
    /* padding: 13px 70px; */
    padding: 7% 31%;
    margin-bottom: 13px;
}

#my-jumbo .btn-default i {
    position: absolute;
    left: 17px;
    top: 17px;
}

#my-jumbo .btn-default span {
    margin-left:
}

#my-jumbo form .terms {
    padding: 13px 0;
}

#my-jumbo form a {
    color: blue;
    text-decoration: underline;
}


/* INNOVATIVE-BUSINESS */
/* INNOVATIVE-BUSINESS */
/* INNOVATIVE-BUSINESS */

#innovative-business {
    background-color: #F3F5F9;
}

#innovative-business
    .col-sm-2 {
    height: 80px;
    vertical-align: middle;
    position: relative;
}

#innovative-business p {
    padding: 30px 0;
}

#innovative-business img {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#innovative-business a {
    color: #005FE6;
    display: inline-block;
}

#innovative-business a:hover {
    color: #0629C3;
}

/* DEPLOY AND SCALE */
/* DEPLOY AND SCALE */
/* DEPLOY AND SCALE */

#deploy-and-scale #deploy {
    border-left: 3px solid blue;
    z-index: 99;
}

#deploy-and-scale #scale {
    border-left: 3px solid rgba(0,0,0,0.3);
    margin-top: -19.5px;
    z-index: 0;
    padding-top: -60%;
}

#deploy-and-scale #scale span:hover {
    color: black;
    opacity: 1;
    cursor: pointer;
}

#deploy-and-scale blockquote p {
    margin: 0px 0 -8px;
    display: block;
}

#deploy-and-scale span {
    margin: 20px 0;
    display: block;
    color: grey;
}

#deploy-and-scale span:first-child {
    margin: 10px 0 15px;
    display: block;
}

#deploy-and-scale i {
    color: #0069FF;
    margin: 30px 0 15px;
}

#deploy-and-scale h3 {
    margin: 0 0 15px;
    font-weight: bold;
}

#deploy-and-scale .col-sm-4 p {
    font-size: 125%;
}

/* DESIGNED FOR DEVELOPERS */
/* DESIGNED FOR DEVELOPERS */
/* DESIGNED FOR DEVELOPERS */

#designed-for-developers {
    background-color: #F3F5F9;
}

#designed-for-developers h1 {
    margin: 100px 0 20px;
}

#designed-for-developers p:nth-child(2) {
    font-size: 135%;
    margin-bottom: 60px;
    margin-left: 16%;
    margin-right: 16%;
}

#designed-for-developers img {
    max-width: 80%;
    display: inline-block;
}

#designed-for-developers p:nth-child(4) {
    margin: 40px 0;
}

#designed-for-developers i {
    padding-bottom: 120px;
    color: hsl(215, 100%, 50%);
}

/* BUILT FOR BUSINESS */
/* BUILT FOR BUSINESS */
/* BUILT FOR BUSINESS */

#built-for-business {
    padding-bottom: 80px;
}

#built-for-business i, a {
    color: hsl(215, 100%, 50%);
}

#built-for-business p, a {
    font-size: 125%;
}

#built-for-business .col-xs-12 {
    padding: 80px 0 50px;
}

#built-for-business .col-sm-3 {
    height: 320px;
}

/* DATA CENTER */
/* DATA CENTER */
/* DATA CENTER */

#data-center {
    background-image: url("https://www.hotelanel.com/wp-content/uploads/2019/04/dark-blue-background-4k_ekeftjj9ml__F0000.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

/* TEAMS LOVE OCEAN */
/* TEAMS LOVE OCEAN */
/* TEAMS LOVE OCEAN */

#teams-love-ocean {
    background-color: #F3F5F9;
    padding-bottom: 70px;
}

#teams-love-ocean p a {
    text-decoration: underline;
}

#teams-love-ocean .col-xs-12 p:nth-child(2) {
    margin: 0 22%;
}

#teams-love-ocean .col-sm-1 {
    padding-top: 9%;
}

#teams-love-ocean .col-sm-1:first-child i {
    float: right;
}

#teams-love-ocean .col-sm-1:last-child i {
    float: left;
}

#teams-love-ocean .col-sm-6 p:nth-child(2) {
    font-size: 125%;
}

#teams-love-ocean img {
    width: 25%;
    padding: 30px 0;
}

#teams-love-ocean img {
    width: 25%;
    padding: 30px 0;
}

#teams-love-ocean .col-md-6 {
    background-color: white;
}

#teams-love-ocean small {
    margin-top: -50px;
}

#teams-love-ocean .col-xs-12:last-child {
    padding-top: 30px;
}

/* GET-STARTED */
/* GET-STARTED */
/* GET-STARTED */

#get-started {
    background-image: url(https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg);
    padding: 45px 0 40px;
}

#get-started  {
    color: white;
}

#get-started h1 {
    padding-bottom: 15px;
}

#get-started a {
    color: #0069FF;
    padding: 13px 50px;
}

#get-started a:hover {
    opacity: 0.7;
}

/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */

@media screen and (max-width: 480px) {
    #my-jumbo .col-sm-offset-1 {
        margin-top: 0px;
    }

    .col-xxs-12 {
        width: 100%;
    }

    table {
        font-size:80%;
    }
}

@media screen and (max-width: 768px) {


    #my-jumbo {
        height: 1230px;
        background-color: #0248FD;
        background-image: none;
    }

    #my-jumbo .col-sm-offset-1 {
        margin-top: 10px;
    }

    .row {
        margin: 0 5px;
    }

    #built-for-business .col-sm-3 {
        height: 250px;
    }

    #teams-love-ocean .col-sm-1 {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    #my-jumbo #jumbo-text .left {
        font-size: 10%;
     }
}



@media screen and (max-width: 992px) and (min-width: 769px) {
  #my-jumbo .btn-default i {
      position: absolute;
      left: 5px;
      top: 10px;
  }

  #my-jumbo .btn-primary {
      padding: 4% 27%;
  }

}

@media screen and (min-width: 481px) and (max-width: 960px) {
.col-med-6 {
        display: inline-block;
        width: 49.5%;
        margin: 0;
}

.col-med-12 {
    display: inline-block;
    width: 99.5%;
    margin: 0;
}
}

@media screen and (max-width: 1048px) {
    header {
        visibility: hidden;
    }

    #jumbo-text h1 {
        font-size: 350%;
    }

    #designed-for-developers p:nth-child(2) {
        font-size: 135%;
        margin-bottom: 60px;
        margin-left: 0;
        margin-right: 0;
    }
}


@media screen and (max-width: 1048px)
